@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Bk.ttf');
  font-weight: 400;
}
@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro.ttf');
  font-weight: 600;
}

body, html {
  font-family: SlatePro;
}