@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Bk.ttf');
  font-weight: 400;
}

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: SlatePro;
  src: url('../../public/fonts/SlatePro.ttf');
  font-weight: 600;
}

body,
html {
  font-family: SlatePro;
}

.hero-gradient {
  background: #253666;
  background: radial-gradient(circle, rgba(37, 54, 102, 1) 1%, rgba(20, 26, 62, 1) 67%);
}